$ColorUno: #f9ed69;
$ColorDos: #f08a5d;
$ColorTes: #b83b5e;
$ColorCuatro: #6a2c70;

section{
    background: $ColorUno;

    h1{
        background: $ColorDos;
    }
    h2{
        background: $ColorTes;
    }
    p{
        background: $ColorCuatro;
    }
}

footer{
    p{
        background: $ColorUno;
    }
}